
<div class="card eat" data-id="{{id}}" data-eating="{{devoured}}"> 
  <img src="https://github.com/aarondig/burgerEater/blob/main/public/assets/img/blue.png?raw=true" id="img" class="card-img-top" alt="burger" data-id="{{id}}" data-eating="{{devoured}}">
  <div class="overlay">
    <h5 class="text" style="text-transform: uppercase;">{{burger_name}}</h5>
    <p class="card-text"></p>
	{{!-- <button class="btn btn-primary eat" data-id="{{id}}" data-eating="{{devoured}}">
		{{#if devoured}}Eat Burger!{{/if}}
	</button> --}}
    
  </div>
</div>
	

	

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}

